<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <label for="exampleFormControlTextarea1" class="form-label">Task</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your task..." #task></textarea>
      <button class="btn btn-primary" (click)="startAgent()"><i class="bi bi-send-fill"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      Team
    </div>
    <div class="col-lg-9">
      <ul class="list-unstyled">
        <li  *ngFor="let message of messages">
          <div class="alert alert-primary" role="alert">
            <span><h4>{{message.sender}}</h4></span>
              <br/>

              <span>
                <markdown
                  [data]="message.content"
                  [inline]="true">
              </markdown></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
