<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label" >Agent Name</label>
  <input class="form-control" id="exampleFormControlInput1" [(ngModel)]="Agent.name" #name>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" [(ngModel)]="Agent.description"></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Prompt</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" [(ngModel)]="Agent.prompt"></textarea>
</div>
